# 1. 在mysql数据库中插入数据不乱码的方法
## 1.1 建立测试数据

create database test;
show create database test\G

use test
create table student(
    id int(4) not null auto_increment,
    name char(20) not null,
    primary key(id) );
    
desc student;
show create table student\G

insert into student values(1,'zhangsan'),(2,'lisi'),(3,'xiaozhang'),(4,'xiaohong');
select * from student;

insert into student values(5,'小明'),(6,'李四'),(7,'王五');
select * from student;

出现问题：中文内容乱码

### 为什么插入中文数据会出现乱码问题呢？

通过上面的例子我们可以看出**客户端字符集和库，表字符集不一样导致乱码问题**，所以我们在插入数据的时候要
- 先查看系统字符集和客户端，库表字符集是否一样，不一样将字符集修改一致再插入数据。
- 已经插入的数据有乱码可以将数据导出备份添加修改字符集命令后再重新导入。

# 2. 解决数据库乱码问题

## 2.1 set names 指定字符集

设置MySQL客户端的字符集和建表的字符集一致。

set names latin1
set names utf8

## 2.2 执行sql文件

将要更新的多个sql语句放在文本文件中如test.sql

需要用system命令，执行system命令可以不退出数据库对系统的文件进行引用和查看。当然也可以退出数据库，这样会比较麻烦。

mysql> system cat test.sql
set names latin1;
insert into student values(8,'不认识');
mysql> system ls;
beifen.sh  test.sql

在MySQL命令行中通过source调用test.sql文件插入数据

用source命令执行sql文件实现对数据库的操作，可以恢复数据库的数据。  
当然也可以退出数据库用输入重定向执行sql文件对数据库的数据进行恢复。

## 2.3 添加字符集参数解决导入数据乱码的问题

1. 把要更新的多个SQL语句放入文本中，这次不带set names latin1

insert into student values(9,'小红');

2. 通过MySQL命令加上字符集参数指定latin1字符集导入test.sql
mysql -uroot -p123456 --default-character-set=utf8 db_test < test.sql

3. 通过-e参数在mysql库外查看结果
mysql -uroot -p123456 -e "select * from linzhongniao.student where id='9'"
+----+--------+
| id | name   |
+----+--------+
|  9 | 小红 |
+----+--------+

## 2.5 小结

1. set names utf8
2. system cat test.sql   
source test.sql
3. source test.sql
4. mysql -uroot -p --default-character-set=utf8 db_test  < test.sql
5. 更改my.cnf：  
    客户端client模块的参数
            [client]
            default-character-set=latin1
     在服务端mysqld模块里面再指定字符集
             [mysqld]
            default-character-set=latin1适合5.1 及以前呢版本
            default-character-server=latin1 适合5.5