# 1. 创建数据库

create database zoe; 默认数据库配置，相当于创建拉丁字符集数据库。
create database zoe DEFAULT CHARACTER SET gbk; 创建gbk字符集数据库
create database zoe DEFAULT CHARACTER SET utf8; 创建utf8字符集数据库
create database zoe default character set latin1; 创建latin字符集数据库

提示：

1. 字符集的不一致是导致数据库中文内容乱码的罪魁祸首，根据开发的环境确定字符集（建议UTF8。

2. 如果编译安装mysql的时候可以指定特定的字符集，以后创建对应字符集的数据库就不需要指定了。如下：

    -DDEFAULT_CHARSET=utf8 \ #指定默认字符集

    -DDEFAULT_COLLATION=utf8_general_ci \

3. 编译的时候没有指定字符集或者指定了和程序不同的字符集，如何解决？    
指定字符集创建数据库即可，数据库要支持创建库所需要的字符集，例如：

    -DEXTRA_CHARSETS=gbk,gb2312,utf8,asci或
    -DEXTRA_CHARSETS=all

# 2. 查看数据库信息

show databases;
show databases like 'zo%'

# 3. 连接数据库

命令：use <数据库名> 相当于linux下的cd切换目录的命令，use是切换数据库

use db_name;

# 4. 查看当前使用库

mysql> select database();
+------------+
| database() |
+------------+
| mysql      |
+------------+
1 row in set (0.00 sec)

# 5. 删除数据库

命令：drop database <数据库名>

# 6. 查看当前数据库的版本

mysql> select version();
+-----------+
| version() |
+-----------+
| 5.5.32    |
+-----------+
1 row in set (0.00 sec)

# 7. 查看当前登录数据库的用户

mysql> select user();
+----------------+
| user()         |
+----------------+
| root@localhost |
+----------------+
1 row in set (0.00 sec)

# 8. 查看当前的时间

mysql> select now();
+---------------------+
| now()               |
+---------------------+
| 2019-09-03 15:20:24 |
+---------------------+
1 row in set (0.00 sec)

# 9. 查看当前数据库包含的表信息

切换到指定库里面去查看

mysql>show tables;
Empty set (0.00 sec) 空表，新库还没有建表
mysql>show tables like 'user';
Empty set (0.00 sec)
mysql>show tables from zoe; 查询指定数据库的表
Empty set (0.00 sec)
mysql>show tables in zoe;
Empty set (0.00 sec)

# 10. 删除mysql库的多余账号

语法：drop user “user”@”主机域”<=注意引号可以是单引号或双引号，但是不能不加。

注意：如果drop删除不了（一般是特殊字符或大写导致的），可以用下面方式删除。

mysql> delete from mysql.user where user=' ' and host='localhost';
Query OK, 1 row affected (0.00 sec)
mysql> select user,host from mysql.user;
+------+--------------+
| user | host |
+------+--------------+
| root | 127.0.0.1|
| root | ::1  |
|  | linzhongniao |
| root | linzhongniao |
| root | localhost|
+------+--------------+
5 rows in set (0.00 sec)
mysql> flush privileges;
Query OK, 0 rows affected (0.00 sec)