# 1. Oracle的视图介绍

视图(view)，也称虚表, 不占用物理空间，这个也是相对概念，因为视图本身的定义语句还是要存储在数据字典里的。  

视图只有逻辑定义。每次使用的时候,只是重新执行SQL。

视图是从一个或多个实际表中获得的，这些表的数据存放在数据库中。那些用于产生视图的表叫做该视图的基表。

一个视图也可以从另一个视图中产生。

视图的定义存在数据库中，与此定义相关的数据并没有再存一份于数据库中。通过视图看到的数据存放在基表中。

视图看上去非常象数据库的物理表，对它的操作同任何其它的表一样。当通过视图修改数据时，实际上是在改变基表中的数据；相反地，基表数据的改变也会自动反映在由基表产生的视图中。由于逻辑上的原因，有些Oracle视图可以修改对应的基表，有些则不能（仅仅能查询）

还有一种视图：**物化视图（MATERIALIZED VIEW ），也称实体化视图**，快照 （8i 以前的说法） ，它是含有数据的，占用存储空间。

注意：  
- 查询视图没有什么限制, 插入/更新/删除视图的操作会受到一定的限制; 所有针对视图的操作都会影响到视图的基表; 
- 为了防止用户通过视图间接修改基表的数据, 可以将视图创建为只读视图(带上with read only选项)

语法: 
    
    create [ or replace ] [ force ] view [schema.]view_name
                      [ (column1,column2,...) ]
                      as 
                      select ...
                      [ with check option ]                      [ constraint constraint_name ]
                      [ with read only ];


1. or replace: 如果存在同名的视图, 则使用新视图"替代"已有的视图
2. force: "强制"创建视图,不考虑基表是否存在,也不考虑是否具有使用基表的权限
3. column1,column2,...：视图的列名, 列名的个数必须与select查询中列的个数相同; 如果select查询包含函数或表达式, 则必须为其定义列名.此时, 既可以用column1, column2指定列名, 也可以在select查询中指定列名.
4. with check option: 指定对视图执行的dml操作必须满足“视图子查询”的条件即，对通过视图进行的增删改操作进行"检查",要求增删改操作的数据, 必须是select查询所能查询到的数据,否则不允许操作并返回错误提示。默认情况下, 在增删改之前"并不会检查"这些行是否能被select查询检索到. 
5. with read only：创建的视图只能用于查询数据, 而不能用于更改数据.

下面是MySQL的创建视图的语法：

Syntax:
CREATE
    [OR REPLACE]
    [ALGORITHM = {UNDEFINED | MERGE | TEMPTABLE}]
    [DEFINER = { user | CURRENT_USER }]
    [SQL SECURITY { DEFINER | INVOKER }]
    VIEW view_name [(column_list)]
    AS select_statement
    [WITH [CASCADED | LOCAL] CHECK OPTION]

### 物化视图创建

create materialized view [view_name] 
refresh [fast|complete|force] 
[ 
on [commit|demand] | 
start with (start_time) next (next_time) 
] 
as 
{创建物化视图用的查询语句}

https://blog.csdn.net/hjm4702192/article/details/79880756

# 2. MySQL实现物化视图实例

物化视图是是查询结果的预运算，物化视图的结果一般存储于表中。物化视图用于需要对查询立即做出响应，而又需要耗费长时间获得结果。物化视图必须能快速更新。它去介于对更新频率和内容的准确性的要求。一般来说物化视图能够在易订时间内及时更新。

Mysql本来不支持视图的。但是在5.0以上的版本，支持了视图功能，但是可惜的是不提供物化视图，但是这也难不住咱们，自己动手丰衣足食。

1. 创建一个存储所有 InnoDB 行的表。

mysql> show create table innodb_row_count\G
*************************** 1. row ***************************
       Table: innodb_row_count
Create Table: CREATE TABLE `innodb_row_count` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `schema_name` varchar(64) NOT NULL,
  `table_name` varchar(64) NOT NULL,
  `row_count` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
1 row in set (0.00 sec)

- 取决于对该信息结果正确性的需要，该表可以每天更新一次（花费系统资源最少，结果错误最大），一小时一次甚至是极端情况下每次改变都更新（最慢）。

- 另一种可能就是从信息架构中读取数据。但是信息会有高达20%的错误。
    - **information_schema**库

mysql> select table_schema,table_name,table_rows from information_schema.tables where table_type='BASE TABLE'\G
*************************** 1. row ***************************
table_schema: materialized_view
  table_name: innodb_row_count
  table_rows: 0
*************************** 2. row ***************************
table_schema: mysql
  table_name: columns_priv
  table_rows: 0
*************************** 3. row ***************************
table_schema: mysql
  table_name: db
  table_rows: 2

2. 更新物化视图

oracle的物化视图语法：
create materialized view [view_name] 
refresh [fast|complete|force] 
[ 
on [commit|demand] | 
start with (start_time) next (next_time) 
] 
as 
{创建物化视图用的查询语句}

物化视图的更新方式有多种：
- 从不更新（只在现在开始更新，只用于静态数据）
- 根据需要（比如每天，比如每夜）
- 及时（每次数据修改之后）

一般使用的更新方法：
- 全部更新（速度慢，完全从无到有）
- 延时跟新（速度快，使用log表）

通过在日志表中存储变更信息，通常会产生简单的“快照”或延时状况：
- 及时更新
- 完全更新

3. 测试--理解概念和物化的实现方式

#### 3.1 数据准备

mysql> show create table sales\G
*************************** 1. row ***************************
       Table: sales
Create Table: CREATE TABLE `sales` (
  `sales_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `product_name` varchar(128) NOT NULL,
  `product_price` decimal(8,2) NOT NULL,
  `product_amount` smallint(6) NOT NULL,
  PRIMARY KEY (`sales_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8
1 row in set (0.00 sec)

mysql> select * from sales;
+----------+--------------+---------------+----------------+
| sales_id | product_name | product_price | product_amount |
+----------+--------------+---------------+----------------+
|        1 | Apple        |          1.25 |              1 |
|        2 | Apple        |          2.40 |              2 |
|        3 | Apple        |          4.05 |              3 |
|        4 | Pear         |          6.30 |              2 |
|        5 | Pear         |         12.20 |              4 |
|        6 | Plum         |          4.85 |              3 |
+----------+--------------+---------------+----------------+
6 rows in set (0.00 sec)

我们要知道售价和每种产品获得的利润，就要使用到两次的分组查询，我们晓得在mysql中连接查询和分组排序是会用到临时表和filesort的，这个如果数据量大的话，是十分耗时，如题查询如下：
(注意，示例的计算平均价格的方式是错误的，但仅是示例，不做数据计算上的修改，仅为更好地理解实现物化视图而准备数据）

mysql> explain select product_name,sum(product_price) as price_sum, sum(product_amount) as amount_sum,avg(product_price) as price_avg, avg(product_amount) as amout_agg,count(*) from sales group by product_name order by price_sum\G
*************************** 1. row ***************************
           id: 1
  select_type: SIMPLE
        table: sales
         type: ALL
possible_keys: NULL
          key: NULL
      key_len: NULL
          ref: NULL
         rows: 6
        Extra: Using temporary; Using filesort
1 row in set (0.00 sec)

因为表中记录较少，因此速度很快，但是如果记录量很大这种，查询将会花费很多时间。

#### 3.2 创建物化视图

mysql> show create table sales_mv\G
*************************** 1. row ***************************
       Table: sales_mv
Create Table: CREATE TABLE `sales_mv` (
  `product_name` varchar(128) NOT NULL,
  `price_sum` decimal(10,2) NOT NULL,
  `amount_sum` int(11) NOT NULL,
  `price_avg` float NOT NULL,
  `amount_avg` float NOT NULL,
  `sales_cnt` int(11) NOT NULL,
  UNIQUE KEY `product` (`product_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
1 row in set (0.00 sec)

insert into sales_mv select product_name, sum(product_price),sum(product_amount),avg(product_price),avg(product_amount),count(*) from sales group by product_name;

最简单的方法，我们得到了预期的正确结果：

mysql> select * from sales_mv;     
+--------------+-----------+------------+-----------+------------+-----------+
| product_name | price_sum | amount_sum | price_avg | amount_avg | sales_cnt |
+--------------+-----------+------------+-----------+------------+-----------+
| Apple        |      7.70 |          6 |   2.56667 |          2 |         3 |
| Pear         |     18.50 |          6 |      9.25 |          3 |         2 |
| Plum         |      4.85 |          3 |      4.85 |          3 |         1 |
+--------------+-----------+------------+-----------+------------+-----------+
3 rows in set (0.00 sec)

这会导致我们刚才提到的“从不更新”模式失败。但是这不是我们想要的。

#### 3.3 按需更新物化视图

根据需要更新物化视图，我们可以用存储过程来实现。

# 创建存储过程，清空得到的数据表，插入需要的数据
mysql> drop procedure if exists refresh_mv_now;
Query OK, 0 rows affected, 1 warning (0.00 sec)

mysql> delimiter //
mysql> create procedure refresh_mv_now(OUT rc INT)     
    -> BEGIN
    -> truncate table sales_mv;
    -> insert into sales_mv select product_name,sum(product_price),sum(product_amount),avg(product_price),avg(product_amount),count(*) from sales group by product_name;
    -> set rc=0;
    -> END;
    -> //
Query OK, 0 rows affected (0.00 sec)

mysql> delimiter;

mysql> call refresh_mv_now(@rc);
Query OK, 3 rows affected (0.00 sec)

mysql> select * from sales_mv;
+--------------+-----------+------------+-----------+------------+-----------+
| product_name | price_sum | amount_sum | price_avg | amount_avg | sales_cnt |
+--------------+-----------+------------+-----------+------------+-----------+
| Apple        |      7.70 |          6 |   2.56667 |          2 |         3 |
| Pear         |     18.50 |          6 |      9.25 |          3 |         2 |
| Plum         |      4.85 |          3 |      4.85 |          3 |         1 |
+--------------+-----------+------------+-----------+------------+-----------+
3 rows in set (0.00 sec)

更新sales表，然后再次调用存储过程refresh_mv_now(@rc);

mysql> insert into sales(product_name,product_price,product_amount) values('Apple',2.25,3),('Plum',3.35,1),('Pear',1.80,2);
Query OK, 3 rows affected (0.00 sec)
Records: 3  Duplicates: 0  Warnings: 0

mysql> call refresh_mv_now(@rc);
Query OK, 3 rows affected (0.00 sec)

mysql> select * from sales_mv;
+--------------+-----------+------------+-----------+------------+-----------+
| product_name | price_sum | amount_sum | price_avg | amount_avg | sales_cnt |
+--------------+-----------+------------+-----------+------------+-----------+
| Apple        |      9.95 |          9 |    2.4875 |       2.25 |         4 |
| Pear         |     20.30 |          8 |   6.76667 |    2.66667 |         3 |
| Plum         |      8.20 |          4 |       4.1 |          2 |         2 |
+--------------+-----------+------------+-----------+------------+-----------+
3 rows in set (0.00 sec)

#### 3.3 即时更新物化视图

每条语句之后做全部更新没有任何意义。

但是我们想要合适的结果。做到这一点还是有点复杂的。

在每次insert sales 表我们都要更新物化视图。

我们可以在sales表中，**使用insert/update/delete触发器**实现。

创建触发器：  
设置参数旧的数值，通过select查看最新的NEW的值，放入old参数，将重新计算得到的新的结果放到new参数中，更新sales_mv表。

下面是insert的触发器的示例，更多的示例去navicat保存的查询中查看。

mysql> delimiter //
mysql> create trigger sales_ins
    -> after insert on sales
    -> for each row
    -> BEGIN
    -> set @old_price_sum = 0;
    -> set @old_amount_sum = 0;
    -> set @old_price_avg = 0;
    -> set @old_amount_avg = 0;
    -> set @old_sales_cnt = 0;
    -> select ifnull(price_sum,0),ifnull(amount_sum,0),ifnull(price_avg,0),ifnull(amount_avg,0),ifnull(sales_cnt,0)
    -> from sales_mv
    -> where product_name = NEW.product_name
    -> into @old_price_sum,@old_amount_sum,@old_price_avg,@old_amount_avg,@old_sales_cnt;
    -> 
    -> set @new_price_sum = @old_price_sum + NEW.product_price;
    -> set @new_amount_sum = @old_amount_sum + NEW.product_amount;
    -> set @new_sales_cnt = @old_sales_cnt + 1;
    -> set @new_price_avg = @new_price_sum / @new_sales_cnt;
    -> set @new_amount_avg = @new_amount_sum / @new_sales_cnt;
    -> 
    -> replace into sales_mv
    -> values(NEW.product_name,@new_price_sum,@new_amount_sum,@new_price_avg,@new_amount_avg,@new_sales_cnt);
    -> 
    -> END; //
Query OK, 0 rows affected (0.01 sec)

mysql> delimiter ;

#### 3.4 具有快速拍摄功能的物化视图

与上面例子的不同之处，在于改变并不立即使用，改变存放在日志表中，在一定时间之后才更新物化视图。

mysql> select * from sales_mv1;
Empty set (0.00 sec)

mysql> insert into sales values(NULL,'Apple',1.25,1);
Query OK, 1 row affected (0.00 sec)

mysql> select * from sales_mv1;                      
+--------------+---------------+----------------+----------+---------------------+
| product_name | product_price | product_amount | sales_id | product_ts          |
+--------------+---------------+----------------+----------+---------------------+
| Apple        |          1.25 |              1 |       16 | 2019-09-02 12:27:27 |
+--------------+---------------+----------------+----------+---------------------+
1 row in set (0.00 sec)

#### 3.5 建立一个物化视图的存储过程。

建立一个更新物化视图的存储过程。

可能模式：
- 完全更新（更新至当前）
- 更新（更新到特定时间戳）
- 重建（全部重建清除MV日志表）

-- #### 创建一个更新物化视图的存储过程
-- # 可能的模式有：完全更新（更新至当前），更新（更新到特定时间戳），重建（全部重建清楚MV日志表）

drop procedure if exists refresh_mv;

delimiter //

create procedure refresh_mv(
	IN method varchar(16),
    IN ts TIMESTAMP,
    OUT rc INT)

BEGIN




IF UPPER(method) = 'REBUILD' THEN
	TRUNCATE TABLE sales_mv1 ; 
	TRUNCATE TABLE sales_mv ;

	INSERT INTO sales_mv 
    SELECT product_name, SUM(product_price),SUM(product_amount),AVG(product_price), AVG(product_amount),COUNT(*) 
    FROM sales
    GROUP BY product_name;
ELSEIF UPPER(method) = 'REFRESH FULL' THEN
	REPLACE INTO sales_mv
	SELECT product_name, SUM(price_sum), SUM(amount_sum),SUM(price_sum)/SUM(sales_cnt),SUM(amount_sum)/SUM(sales_cnt),SUM(sales_cnt)
	FROM (
		SELECT product_name, price_sum, amount_sum, sales_cnt FROM sales_mv 
		UNION ALL
		SELECT product_name, SUM(product_price), SUM(product_amount), COUNT(*) FROM sales_mv1 GROUP BY product_name
		) as x
	GROUP BY product_name;

	TRUNCATE TABLE sales_mv1;
	SET rc = 0 ;

ELSEIF UPPER(method) = 'REFRESH' THEN
	REPLACE INTO sales_mv
	SELECT product_name, SUM(price_sum), SUM(amount_sum), SUM(price_sum)/SUM(sales_cnt),SUM(amount_sum)/SUM(sales_cnt),SUM(sales_cnt)
	FROM (
		SELECT product_name, price_sum, amount_sum, sales_cnt FROM sales_mv
		UNION ALL 
        SELECT product_name, SUM(product_price), SUM(product_amount), COUNT(*) FROM sales_mv1 WHERE product_ts < ts GROUP BY product_name
		) as x
	GROUP BY product_name;

	DELETE FROM sales_mv1 WHERE product_ts < ts ;
	SET rc = 0;



ELSE

SET rc = 1 ; 

END IF ;
END ;//
delimiter ;

### 结论:
通过存储过程和mysql的触发器去进行更新，不过如果是项目中的一些后台展示功能，不是很紧要的展示功能可以通过java的scheduled执行定时任务，比如，一个小时查询一次新增数据。

MySQL中的触发器是不是非常快。  

大量数据时，物化视图可以提高及时查询速度。   

如果插入数据速度上不受限制，这个方法可以提高查询速度。   

在大量数据，或者是非内存表、或者内存不够大时，可以提高性能(即，在基础表中查询耗时较大时)