# 目录
<a href='#part1'>1. 安装</a>

<a href='#part2'>2. 数据库的操作</a>

<a href='#part3'>3. 数据库表的基本操作</a>

<a href='#part4'>4. 数据库表的内容操作</a>
<a href='#part5'>1. 安装</a>
<a href='#part6'>1. 安装</a>
<a href='#part7'>1. 安装</a>

<h2><span id='part1' name='part1'>1. 安装</span></h2>

----

<h2><span id='part2' name='part2'>2. 数据库操作</span></h2>

数据库级别：
        SHOW DATABASES;   # 查看当前Mysql都有那些数据，根目录都有那些文件夹
         
        CREATE DATABASE 数据库名称;  # 创建文件夹
        CREATE DATABASE 数据库名称 DEFAULT CHARSET utf8 COLLATE utf8_general_ci;
        
        USE 数据库名称;   # 使用选中数据库，进入目录
        
        drop database 数据库名称;  # 删除数据库

### 1. 显示数据库

show databases;

默认数据库：
- mysql - 用户权限相关数据
- test - 用于用户测试数据
- information_schema - MySQL本身架构相关数据

mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| crm                |
| dcba               |
| mysql              |
| perfectcrm         |
| performance_schema |
| sys                |
| tags               |
| tms                |
+--------------------+
9 rows in set (0.00 sec)

### 2. 创建数据库

# utf-8
create database DB_NAME default charset utf8 collate utf8_general_ci;

# gbk 
create database DB_NAME default charset set gbk collate gbk_chinese_ci;

默认编码最好使用utf8，utf8_general_ci是用来做排序和编码的。

### 3. 使用数据库

use DB_NAME;

### 4. 显示当前使用的数据库中的所有表

show tables;

### 5. 用户管理

#### 创建用户

create user '用户名'@'IP地址' identified by '密码';

#### 删除用户

drop user '用户名'@'IP地址';

#### 修改用户

rename user '用户名'@'IP地址' to '新用户名'@'IP地址';

#### 修改密码

set password for '用户名'@'IP地址' = Password('新密码')

PS：  
用户权限相关数据保存在mysql数据库的user表中，所以也可以直接对其进行操作（不建议）

#### 授权管理

##### 查看权限
show grants for '用户'@'IP地址';

##### 授权
grant 权限 on 数据库.表 to '用户'@'IP地址';

##### 取消权限
revoke 权限 on 数据库.表 from '用户'@'IP地址';

mysql> show grants for 'ann'@'localhost';
+---------------------------------------------------+
| Grants for ann@localhost                          |
+---------------------------------------------------+
| GRANT USAGE ON *.* TO 'ann'@'localhost'           |
| GRANT SELECT ON `test`.`tb1` TO 'ann'@'localhost' |
+---------------------------------------------------+
2 rows in set (0.00 sec)

示例：
grant all privileges on db1.tb1 TO '用户名'@'IP'

grant select on db1.* TO '用户名'@'IP'

grant select,insert on *.* TO '用户名'@'IP'

revoke select on db1.tb1 from '用户名'@'IP'

- all privileges（除grant外的所有权限）：
- select          仅查权限
- select,insert   查和插入权限
            ...
- usage                   无访问权限
- alter                   使用alter table
- alter routine           使用alter procedure和drop procedure
- create                  使用create table
- create routine          使用create procedure
- create temporary tables 使用create temporary tables
- create user             使用create user、drop user、rename user和revoke  all privileges
- create view             使用create view
- delete                  使用delete
- drop                    使用drop table
- execute                 使用call和存储过程
- file                    使用select into outfile 和 load data infile
- grant option            使用grant 和 revoke
- index                   使用index
- insert                  使用insert
- lock tables             使用lock table
- process                 使用show full processlist
- select                  使用select
- show databases          使用show databases
- show view               使用show view
- update                  使用update
- reload                  使用flush
- super                   􏱂􏰈使用change master、kill、logs、purge、master和set global。还允许mysqladmin􏵗􏵘􏲊􏲋调试登陆
- replication client      服务器位置的访问
- replication slave       由复制从属使用

对于目标数据库以及内部其他：
- 数据库名.*           
    - 数据库中的所有
- 数据库名.表          
    - 指定数据库中的某张表
- 数据库名.存储过程      
    - 指定数据库中的存储过程
- \*.\*               
    - 所有数据库

- 用户名@IP地址         用户只能在该IP下才能访问
- 用户名@192.168.1.%   用户只能在该IP段下才能访问(通配符%表示任意)
- 用户名@%             用户可以在任意IP下访问(默认IP地址为%)

---

<h2><span id='part3' name='part3'>3. 数据库表基本操作</span></h2>

表级别：
        show tables;  
        desc tb1;   # 显示表中的字段信息
        
        create table tb1(nid int, name varchar(10));
        # 事务，原子操作，回滚
        a. 默认值
        b. 是否可以为空
        c. 自增列（一张表只能有一个，数字，必须是索引-主键）
        d. 主键索引：
        e. 外键foreign key，一对多
        f. 数据类型：数值、时间和字符串
        
        drop table tb1;     # 直接表删除
        
        delete from tb1;    # 清空表内容
        truncate table tb1; # 清空表内容，速度快，自增回到原点
        
        select * from tbl;

### 1. 创建表

create table 表名(
    列名  类型  是否可以为空，
    列名  类型  是否可以为空
)ENGINE=InnoDB DEFAULT CHARSET=utf8

default charset=utf8 表级别的字符集设置   
engine=InnoDB 数据库引擎，支持事务   
engine=MyIsam 支持全文检索，速度更快

#### 是否可空null、not null:
 null表示空，非字符串
- not null    - 不可空
- null        - 可空

#### 默认值 default：   
创建列时可以指定默认值，当插入数据时如果未主动设置，则自动添加默认值。

create table tb1(
                nid int not null defalut 2,
                num int not null
            )

#### 自增auto_increment：  
如果为某列设置自增列，插入数据时无需设置此列，默认将自增（表中只能有一个自增列）
            
注意：
1. 对于自增列，必须是索引（含主键）。
2. 对于自增可以设置步长和起始值
                     show session variables like 'auto_inc%';
                     set session auto_increment_increment=2;
                     set session auto_increment_offset=10;

                     shwo global  variables like 'auto_inc%';
                     set global auto_increment_increment=2;
                     set global auto_increment_offset=10;

create table tb1(
                nid int not null auto_increment primary key,
                num int null
            )
或

create table tb1(
                nid int not null auto_increment,
                num int null,
                index(nid)
            )

如果想要清空自增同时回到原点，使用 truncate table tbname;

#### 主键primary key：
一种特殊的唯一索引，不允许有空值，如果主键使用单个列，则它的值必须唯一，如果是多列，则其组合必须唯一。

 create table tb1(
                nid int not null auto_increment primary key,
                num int null
            )engine=innodb default charset=utf8;
            
或
多个列组合主键：
create table tb1(
                nid int not null,
                num int not null,
                primary key(nid,num)
            )engine=innodb default charset=utf8;

**主键索引和唯一索引的区别**：
- 主键不能是null，唯一可以是null。
- 主键一般和auto_increment自增一起使用
- 主键可以是多个列的组合，组合主键
- 一张表中，主键只能有一个，唯一索引可以有多个。

**唯一索引：**
    可以为null，一张表可以有多个唯一列
                1，2，3，4，5，6，null
             
**索引的作用：**
- 约束
- 索引，加速查找

**主键：**
- 不能为null
- 不能重复
- 一张表只有一个主键（可以多列组成主键）

**一般用法：  **
nid int not null auto_increment primary key

#### 外键foreign key：
一个特殊的索引，只能是指定内容

两张表建立约束
- 约束
- foreign key，一对多

creat table color(
                nid int not null primary key,
                name char(16) not null
            )

create table fruit(
                nid int not null primary key,
                smt char(32) null ,
                color_id int not null,
                constraint fk_cc foreign key (color_id) references color(nid)
            )

- 添加外键：alter table 从表 add constraint 外键名称（形如：FK_从表_主表） foreign key 从表(外键字段) references 主表(主键字段);

示例：  
将userinfo表和department表中做一个外键约束。
mysql> alter table userinfo add constraint fk_u_dpid foreign key userinfo(depart_id) references department(nid);
Query OK, 1 row affected (0.03 sec)
Records: 1  Duplicates: 0  Warnings: 0

### 2. 删除表

drop table 表名

### 3. 清空表

- delete from 表名  
    - 自增内容会继续，不会清零
- truncate table 表名
    - 效率更高，并且能够将自增清零，回到原点。

### 4. 修改表

- 添加列：
    - alter table 表名 add 列名 类型;
- 删除列：
    - alter table 表名 drop column 列名;
- 修改列：
    - alter table 表名 modify column 列名 类型; 
    - alter table 表名 change 原列名 新列名 类型; 
  
- 添加主键：
    - alter table 表名 add primary key(列名);
- 删除主键：
    - alter table 表名 drop primary key;
    - alter table 表名  modify  列名 int, drop primary key;
  
- 添加外键：
    - alter table 从表 add constraint 外键名称（形如：FK_从表_主表） foreign key 从表(外键字段) references 主表(主键字段);
- 删除外键：
    - alter table 表名 drop foreign key 外键名称;
  
- 修改默认值：
    - ALTER TABLE 表名 ALTER 列名 SET DEFAULT 1000;
- 删除默认值：
    - ALTER TABLE 表名 ALTER 列名 DROP DEFAULT;

### 5. 基本数据类型

MySQL的数据类型大致分为：
- 数值
- 时间
- 字符串

#### 细化划分：
1. 数值：
    - 二进制位 bit
    - 整数：tinyint, smalliint, int, bigint
    - 小数：decimal, float, double

- bit[(M)]
            二进制位（101001），m表示二进制位的长度（1-64），默认m＝1

- tinyint[(m)] [unsigned] [zerofill]
    - 小整数，数据类型用于保存一些范围的整数数值范围：
        - 有符号：-128 ～ 127.
        - 无符号unsigned：0～ 255
    - 特别的： MySQL中无布尔值，使用tinyint(1)构造。

- int[(m)][unsigned][zerofill]
    - 整数，数据类型用于保存一些范围的整数数值范围：
        - 有符号：-2147483648 ～ 2147483647
        - 无符号：0～ 4294967295
    - 特别的：整数类型中的m仅用于显示，对存储范围无限制。例如： int(5),当插入数据2时，select 时数据显示为： 00002

- bigint[(m)][unsigned][zerofill]
    - 大整数，数据类型用于保存一些范围的整数数值范围：
        - 有符号： -9223372036854775808 ～ 9223372036854775807
        - 无符号：0～  18446744073709551615

- decimal[(m[,d])] [unsigned] [zerofill]
    - 准确的小数值，m是数字总个数（负号不算），d是小数点后个数。 m最大值为65，d最大值为30。
    - 特别的：对于精确数值计算时需要用此类型。decimal能够存储精确值的原因在于其内部按照**字符串**存储。

- FLOAT[(M,D)] [UNSIGNED] [ZEROFILL]
    - 单精度浮点数（非准确小数值），m是数字总个数，d是小数点后个数。
        - 无符号：-3.402823466E+38 to -1.175494351E-38,
                    1.175494351E-38 to 3.402823466E+38
        - 有符号：
                    1.175494351E-38 to 3.402823466E+38

            **** 数值越大，越不准确 ****

- DOUBLE[(M,D)] [UNSIGNED] [ZEROFILL]
    - 双精度浮点数（非准确小数值），m是数字总个数，d是小数点后个数。
        - 无符号：
                    -1.7976931348623157E+308 to -2.2250738585072014E-308
                    2.2250738585072014E-308 to 1.7976931348623157E+308
        - 有符号：
                    2.2250738585072014E-308 to 1.7976931348623157E+308
            **** 数值越大，越不准确 ****

2. 字符串：
    - 定长
        - char
            - create table tb13(n char(7),b int, c int)
            - 查找速度快，浪费空间          
    - 变长
        - varchar
            - create table tb13(n varchar(7),b int, c int)
            - 查获找速度慢，节省空间
        - text
        - mediumtext
        - longtext

- char (m)
    - char数据类型用于表示固定长度的字符串，可以包含最多达255个字符。其中m代表字符串的长度。
            PS: 即使数据小于m长度，也会占用m长度
- varchar(m)
    - varchars数据类型用于变长的字符串，可以包含最多达255个字符。其中m代表该数据类型所允许保存的字符串的最大长度，只要长度小于该最大值的字符串都可以被保存在该数据类型中。

    - 注：虽然varchar使用起来较为灵活，但是从整个系统的性能角度来说，char数据类型的处理速度更快，有时甚至可以超出varchar处理速度的50%。因此，用户在设计数据库时应当综合考虑各方面的因素，以求达到最佳的平衡

- text
    - text数据类型用于保存变长的大字符串，可以组多到65535 (2**16 − 1)个字符。

- mediumtext
    - A TEXT column with a maximum length of 16,777,215 (2**24 − 1) characters.

    - longtext
            A TEXT column with a maximum length of 4,294,967,295 or 4GB (2**32 − 1) characters.

3. 二进制数据：TinyBlob、Blob、MediumBlob、LongBlob
    - 上传文件
    - Blob,强制二进制方式
    - varchar(65), "D:\av.avi" 将上传的文件保存在硬盘， D:\av.avi ;

4. 时间：date, time, year, datetime, timestamp

- DATE
    - YYYY-MM-DD（1000-01-01/9999-12-31）

- TIME
    - HH:MM:SS（'-838:59:59'/'838:59:59'）

- YEAR
    - YYYY（1901/2155）

- DATETIME
     - YYYY-MM-DD HH:MM:SS（1000-01-01 00:00:00/9999-12-31 23:59:59    Y）

- TIMESTAMP
    - YYYYMMDD HHMMSS（1970-01-01 00:00:00/2037 年某时）

5. enum枚举，set集合

- enum
    - 枚举类型，单选
            An ENUM column can have a maximum of 65,535 distinct elements. (The practical limit is less than 3000.)
    - 示例：
                CREATE TABLE shirts (
                    name VARCHAR(40),
                    size ENUM('x-small', 'small', 'medium', 'large', 'x-large')
                );
                INSERT INTO shirts (name, size) VALUES ('dress shirt','large'), ('t-shirt','medium'),('polo shirt','small');

- set
    - 集合类型，可多选
            A SET column can have a maximum of 64 distinct members.
    - 示例：
                CREATE TABLE myset (col SET('a', 'b', 'c', 'd'));
                INSERT INTO myset (col) VALUES ('a,d'), ('d,a'), ('a,d,a'), ('a,d,d'), ('d,a,d');

-----


<h2><span id='part4' name='part4'>4. 数据库表的内容操作</span></h2>

### 1. 增

insert into 表 (列名,列名...) values (值,值,值...)
insert into 表 (列名,列名...) values (值,值,值...),(值,值,值...)

# 将查找的表中的结果直接插入到表中
insert into 表 (列名,列名...) select (列名,列名...) from 表

### 2. 删

delete from 表
delete from 表 where id＝1 and name＝'alex'

### 3. 改

update 表 set name ＝ 'alex' where id>1

### 4. 查

select * from 表
select * from 表 where id > 1
select nid,name,gender as gg from 表 where id > 1

### 5. 其他

a、条件
    select * from 表 where id > 1 and name != 'alex' and num = 12;
 
    select * from 表 where id between 5 and 16;
 
    select * from 表 where id in (11,22,33)
    select * from 表 where id not in (11,22,33)
    select * from 表 where id in (select nid from 表)
 
b、通配符
    select * from 表 where name like 'ale%'  - ale开头的所有（多个字符串）
    select * from 表 where name like 'ale_'  - ale开头的所有（一个字符）
 
c、限制
    select * from 表 limit 5;            - 前5行
    select * from 表 limit 4,5;          - 从第4行开始的5行
    select * from 表 limit 5 offset 4    - 从第4行开始的5行
 
d、排序
    select * from 表 order by 列 asc              - 根据 “列” 从小到大排列
    select * from 表 order by 列 desc             - 根据 “列” 从大到小排列
    select * from 表 order by 列1 desc,列2 asc    - 根据 “列1” 从大到小排列，如果相同则按列2从小到大排序
 
e、分组
    select num from 表 group by num
    select num,nid from 表 group by num,nid
    select num,nid from 表  where nid > 10 group by num,nid order nid desc
    select num,nid,count(*),sum(score),max(score),min(score) from 表 group by num,nid
 
    select num from 表 group by num having max(id) > 10
 
    特别的：group by 必须在where之后，order by之前
 
f、连表
    无对应关系则不显示
    select A.num, A.name, B.name
    from A,B
    Where A.nid = B.nid
 
    无对应关系则不显示
    select A.num, A.name, B.name
    from A inner join B
    on A.nid = B.nid
 
    A表所有显示，如果B中无对应关系，则值为null
    select A.num, A.name, B.name
    from A left join B
    on A.nid = B.nid
 
    B表所有显示，如果B中无对应关系，则值为null
    select A.num, A.name, B.name
    from A right join B
    on A.nid = B.nid
 
g、组合
    组合，自动处理重合
    select nickname
    from A
    union
    select name
    from B
 
    组合，不处理重合
    select nickname
    from A
    union all
    select name
    from B