# 前言：
mysql的重点梳理。

1、增删改查
2、其他：
    分组：
        group by
        xxx       having 聚合条件。。。
        
    分页：
        前几行， select .... limit 3;
        limit 3,4        # 第三行开始，取4行
        limit 4 offset 3 # ...
    
    连表：
        left outer join  on
        # 表1 left join 表2 on 
        # 如果表1中的数据多，表2少，null
        
        right outer join 
        
        inner join 
        # 如果表1中的数据多，表2少，null
        
    排序（张伟）：
        desc
        asc
        
        nid    name 
         1     alex
         2     eric
         1     alex
         4     tony
         # 从小到大，id从大到小
         select * from tb order by name asc, nid desc,sid asc ;
         
    union
        
    条件：
        > < = >= != <=
        in (1,2,3,4)
        not in (...)
        in (select nid from tb)
        
3、连表，外键foreign key
    一对多

# 1. Navicat

用于连接数据库
- 查找
- 修改
- 更新
...

将操作转换为SQL语句。

# 2. 导出数据库数据

- 导出现有数据库数据：
    - mysqldump -u用户名 -p密码 数据库名称 >导出文件路径           # 结构+数据
    - mysqldump -u用户名 -p密码 -d 数据库名称 >导出文件路径       # 结构 
- 导入现有数据库数据：
    - mysqldump -uroot -p密码  数据库名称 < 文件路径

# 3. 练习题

1. 自行创建测试数据

自行创建或mysqldump 导入数据和结构。

2. 查询“生物”课程比“物理”课程成绩高的所有学生的学号

3. 查询平均成绩大于60分的同学的学号和平均成绩

select student_id,avg(num) as avg_score 
from 
score 
group by student_id having avg_score>60 ;

扩展：还要显示学生的名字

select s1.student_id,s1.avg_score,student.sname from 
(select student_id,avg(num) as avg_score 
from 
score 
group by student_id having avg_score>60 ) as s1,student where s1.student_id=student.sid;

或：
select score.student_id,avg(score.num),student.sname
from score left join student 
on score.student_id=student.sid
group by score.student_id having avg(score.num) > 60;

4. 查询所有同学的学号、姓名、选课数、总成绩；

# 3. Python操作MySQL