# 1. 视图

视图是一个虚拟表（非真实存在），其本质是【根据SQL语句获取动态的数据集，并为其命名】，用户使用时只需使用【名称】即可获取结果集，并可以将其当作表来使用。

- 临时表
- 只能查
-  执行时才获取数据

临时表搜索：

SELECT
    *
FROM
    (
        SELECT
            nid,
            NAME
        FROM
            tb1
        WHERE
            nid > 2
    ) AS A
WHERE
    A. NAME > 'alex';

## 1.1 创建视图

格式：
    CREATE VIEW 视图名称 AS  SQL语句

定义一个名称：
    a. 定义对应关系，# 视图--不是真实的表
    
        temp1 <---> select * from score where course_id in (1,2)
        
数据是动态的，每次调用视图都会重新执行查询。

视图的功能只是方便写SQL语句。

创建视图示例：

CREATE VIEW v1 AS 
SELET 
    nid, name
FROM
    A
WHERE
    nid > 4

## 1.2 删除视图

格式：DROP VIEW 视图名称

DROP VIEW v1

## 1.3 修改视图

格式：ALTER VIEW 视图名称 AS SQL语句

ALTER VIEW v1 AS
SELET A.nid,
    B. NAME
FROM
    A
LEFT JOIN B ON A.id = B.nid
LEFT JOIN C ON A.id = C.nid
WHERE
    A.id > 2
AND C.nid < 5

## 1.4 使用视图

使用视图时，将其当作表进行操作即可，由于视图是虚拟表，所以无法使用其对真实表进行创建、更新和删除操作，仅能做查询用。

select * from v1

-----

# 2. 触发器

对某个表进行【增/删/改】操作的前后如果希望触发某个特定的行为时，可以使用触发器，触发器用于定制用户对表的行进行【增/删/改】前后的行为。

a. 为某一个表：
        insert 前后
        update 前后
        delete 前后
b. OLD，NEW
    
c. 删除多行，插入，更新
        for 多行：
            OLD，NEW
    
    # 删除之前，将删除的值添加到另外一张表
    delete from tb1 where nid = 1
    -- 张二狗 =>tb2
    delete from tb1： OLD
    -- 张二狗 =>tb2
    -- 张三狗 =>tb2
    -- 张四狗 =>tb2
    -- 张六狗 =>tb2

## 2.1 创建触发器

### 创建基础语法

# 插入前
CREATE TRIGGER tri_before_insert_tb1 BEFORE INSERT ON tb1 FOR EACH ROW
BEGIN
    ...
END

# 插入后
CREATE TRIGGER tri_after_insert_tb1 AFTER INSERT ON tb1 FOR EACH ROW
BEGIN
    ...
END

# 删除前
CREATE TRIGGER tri_before_delete_tb1 BEFORE DELETE ON tb1 FOR EACH ROW
BEGIN
    ...
END

# 删除后
CREATE TRIGGER tri_after_delete_tb1 AFTER DELETE ON tb1 FOR EACH ROW
BEGIN
    ...
END

# 更新前
CREATE TRIGGER tri_before_update_tb1 BEFORE UPDATE ON tb1 FOR EACH ROW
BEGIN
    ...
END

# 更新后
CREATE TRIGGER tri_after_update_tb1 AFTER UPDATE ON tb1 FOR EACH ROW
BEGIN
    ...
END

### 插入前触发器

delimiter //
CREATE TRIGGER tri_before_insert_tb1 BEFORE INSERT ON tb1 FOR EACH ROW
BEGIN

IF NEW. NAME == 'alex' THEN
    INSERT INTO tb2 (NAME)
VALUES
    ('aa')
END
END//
delimiter ;

### 插入后触发器

delimiter //
CREATE TRIGGER tri_after_insert_tb1 AFTER INSERT ON tb1 FOR EACH ROW
BEGIN
    IF NEW. num = 666 THEN
        INSERT INTO tb2 (NAME)
        VALUES
            ('666'),
            ('666') ;
    ELSEIF NEW. num = 555 THEN
        INSERT INTO tb2 (NAME)
        VALUES
            ('555'),
            ('555') ;
    END IF;
END//
delimiter ;

特别的：NEW表示即将插入的数据行，OLD表示即将删除的数据行。

## 2.2 删除触发器

DROP TRIGGER tri_after_insert_tb1;

## 2.3 使用触发器

触发器无法由用户直接调用，而是由于对表的【增/删/改】操作被动引发的。

insert into tb1(num) values(666)

-----

# 3. 存储过程

存储过程是一个SQL语句集合，当主动去调用存储过程时，其中内部的SQL语句会按照逻辑执行。

- 可写复杂逻辑
- 参数：in   out   inout
- 结果集：select ...

## 3.1 创建存储过程

### 无参数存储过程示例：

-- 创建存储过程

delimiter //
create procedure p1()
BEGIN
    select * from t1;
    select * from t2;
END//
delimiter ;

-- 执行存储过程

call p1()

注意：写存储过程中时刻注意语法。

对于存储过程，可以接收参数，其**参数**有三类：

- in          仅用于传入参数用
- out        仅用于返回值用
- inout     既可以传入又可以当作返回值

示例：创建存储过程，带参数的

-- 创建存储过程
delimiter \\
create procedure p1(
    in i1 int,
    in i2 int,
    inout i3 int,
    out r1 int
)
BEGIN
    DECLARE temp1 int;
    DECLARE temp2 int default 0;
    
    set temp1 = 1;

    set r1 = i1 + i2 + temp1 + temp2;
    
    set i3 = i3 + 100;

end\\
delimiter ;

-- 执行存储过程
set @t1 =4;
set @t2 = 0;
CALL p1 (1, 2 ,@t1, @t2);
SELECT @t1,@t2;

- DECLARE 在存储过程内部声明变量时，必须使用
    - DECLARE temp1 int; 相当于python中的 temp1 = 0
    - DECLARE temp2 int default 0; 相当于python中的 temp2=0

#### 结果集：

delimiter //
    create procedure p1()
begin
    select * from v1;
end //
delimiter ;

结果集中只能有一个select的结果集，如果想要多个表的内容，可以自己做好连接等各种处理再返回一个结果集。

####  结果集+out值

delimiter //
create procedure p2(
    in n1 int,
    inout n3 int,
    out n2 int,
)
begin
    declare temp1 int ;
    declare temp2 int default 0;
    
    select * from v1;
    
    set n2 = n1 + 100;
    set n3 = n3 + n1 + 100;
    
end //
delimiter ;

#### 事务

delimiter \\
                        create PROCEDURE p1(
                            OUT p_return_code tinyint
                        )
                        BEGIN 
                          DECLARE exit handler for sqlexception 
                          BEGIN 
                            -- ERROR 
                            set p_return_code = 1; 
                            rollback; 
                          END; 
                         
                          DECLARE exit handler for sqlwarning 
                          BEGIN 
                            -- WARNING 
                            set p_return_code = 2; 
                            rollback; 
                          END; 
                         
                          START TRANSACTION; 
                            DELETE from tb1;
                            insert into tb2(name)values('seven');
                          COMMIT; 
                         
                          -- SUCCESS 
                          set p_return_code = 0; 
                         
                          END\\
                    delimiter ;

#### 游标

delimiter //
                    create procedure p3()
                    begin 
                        declare ssid int; -- 自定义变量1  
                        declare ssname varchar(50); -- 自定义变量2  
                        DECLARE done INT DEFAULT FALSE;


                        DECLARE my_cursor CURSOR FOR select sid,sname from student;
                        DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = TRUE;
                        
                        open my_cursor;
                            xxoo: LOOP
                                fetch my_cursor into ssid,ssname;
                                if done then 
                                    leave xxoo;
                                END IF;
                                insert into teacher(tname) values(ssname);
                            end loop xxoo;
                        close my_cursor;
                    end  //
                    delimter ;

#### 动态执行SQL

delimiter \\
                    CREATE PROCEDURE p4 (
                        in nid int
                    )
                    BEGIN
                        PREPARE prod FROM 'select * from student where sid > ?';
                        EXECUTE prod USING @nid;
                        DEALLOCATE prepare prod; 
                    END\\
                    delimiter ;

## 2.2 删除存储过程

drop procedure proc_name;

## 2.3 执行存储过程

-- 无参数
call proc_name()

-- 有参数，全in
call proc_name(1,2)

-- 有参数，有in，out，inout
set @t1=0;
set @t2=3;
call proc_name(1,2,@t1,@t2)

#### pymysql执行存储过程：

#!/usr/bin/env python
# -*- coding:utf-8 -*-
import pymysql

conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='123', db='t1')
cursor = conn.cursor(cursor=pymysql.cursors.DictCursor)

# 执行存储过程,获取存储过程的结果集，将返回值设置给了  @_存储过程名_序号 =
r1 = cursor.callproc('p11', args=(1, 22, 3, 4))
# set @_p11_0 = 1
# set @_p11_1 = 22
# set @_p11_2 = 3
# set @_p11_3 = 4
# call p11(1, 22, 3, 4)
print(r1)

# 除了获取变量值，还可以获取select结果集
result1 = cursor.fetchall()
print(result1)

# 获取执行完存储的参数
r2 = cursor.execute("select @_p11_0,@_p11_1,@_p11_2,@_p11_3")
print(r2)
result2 = cursor.fetchall()
print(result2)
conn.commit()
cursor.close()
conn.close()

# 4. 函数

- 内置函数
- 自定义函数

MySQL中提供了许多内置函数，例如：

CHAR_LENGTH(str)
        返回值为字符串str 的长度，长度的单位为字符。一个多字节字符算作一个单字符。
        对于一个包含五个二字节字符集, LENGTH()返回值为 10, 而CHAR_LENGTH()的返回值为5。

CONCAT(str1,str2,...)
        字符串拼接
        如有任何一个参数为NULL ，则返回值为 NULL。
    
CONCAT_WS(separator,str1,str2,...)
        字符串拼接（自定义连接符）
        CONCAT_WS()不会忽略任何空字符串。 (然而会忽略所有的 NULL）。

CONV(N,from_base,to_base)
        进制转换
        例如：
            SELECT CONV('a',16,2); 表示将 a 由16进制转换为2进制字符串表示

FORMAT(X,D)
        将数字X 的格式写为'#,###,###.##',以四舍五入的方式保留小数点后 D 位， 并将结果以字符串的形式返回。若  D 为 0, 则返回结果不带有小数点，或不含小数部分。
        例如：
            SELECT FORMAT(12332.1,4); 结果为： '12,332.1000'
    
INSERT(str,pos,len,newstr)
        在str的指定位置插入字符串
            pos：要替换位置其实位置
            len：替换的长度
            newstr：新字符串
        特别的：
            如果pos超过原字符串长度，则返回原字符串
            如果len超过原字符串长度，则由新字符串完全替换
   
INSTR(str,substr)
        返回字符串 str 中子字符串的第一个出现位置。

LEFT(str,len)
        返回字符串str 从开始的len位置的子序列字符。

LOWER(str)
        变小写

UPPER(str)
        变大写

LTRIM(str)
        返回字符串 str ，其引导空格字符被删除。
RTRIM(str)
        返回字符串 str ，结尾空格字符被删去。
SUBSTRING(str,pos,len)
        获取字符串子序列

LOCATE(substr,str,pos)
        获取子序列索引位置

REPEAT(str,count)
        返回一个由重复的字符串str 组成的字符串，字符串str的数目等于count 。
        若 count <= 0,则返回一个空字符串。
        若str 或 count 为 NULL，则返回 NULL 。
    
REPLACE(str,from_str,to_str)
        返回字符串str 以及所有被字符串to_str替代的字符串from_str 。
    
REVERSE(str)
        返回字符串 str ，顺序和字符顺序相反。
   
RIGHT(str,len)
        从字符串str 开始，返回从后边开始len个字符组成的子序列

SPACE(N)
        返回一个由N空格组成的字符串。

SUBSTRING(str,pos) , SUBSTRING(str FROM pos) SUBSTRING(str,pos,len) , SUBSTRING(str FROM pos FOR len)
        不带有len 参数的格式从字符串str返回一个子字符串，起始于位置 pos。带有len参数的格式从字符串str返回一个长度同len字符相同的子字符串，起始于位置 pos。 使用 FROM的格式为标准 SQL 语法。也可能对pos使用一个负值。假若这样，则子字符串的位置起始于字符串结尾的pos 字符，而不是字符串的开头位置。在以下格式的函数中可以对pos 使用一个负值。

        mysql> SELECT SUBSTRING('Quadratically',5);
            -> 'ratically'

        mysql> SELECT SUBSTRING('foobarbar' FROM 4);
            -> 'barbar'

        mysql> SELECT SUBSTRING('Quadratically',5,6);
            -> 'ratica'

        mysql> SELECT SUBSTRING('Sakila', -3);
            -> 'ila'

        mysql> SELECT SUBSTRING('Sakila', -5, 3);
            -> 'aki'

        mysql> SELECT SUBSTRING('Sakila' FROM -4 FOR 2);
            -> 'ki'

TRIM([{BOTH | LEADING | TRAILING} [remstr] FROM] str) TRIM(remstr FROM] str)
        返回字符串 str ， 其中所有remstr 前缀和/或后缀都已被删除。若分类符BOTH、LEADIN或TRAILING中没有一个是给定的,则假设为BOTH 。 remstr 为可选项，在未指定情况下，可删除空格。

        mysql> SELECT TRIM('  bar   ');
                -> 'bar'

        mysql> SELECT TRIM(LEADING 'x' FROM 'xxxbarxxx');
                -> 'barxxx'

        mysql> SELECT TRIM(BOTH 'x' FROM 'xxxbarxxx');
                -> 'bar'

        mysql> SELECT TRIM(TRAILING 'xyz' FROM 'barxxyz');
                -> 'barx'

### 1. 自定义函数

delimiter \\
create function f1(
    i1 int,
    i2 int)
returns int
BEGIN
    declare num int;
    set num = i1 + i2;
    return(num);
END \\
delimiter ;

### 2. 删除函数

drop function func_name;

### 3. 执行函数

# 获取返回值
declare @i VARCHAR(32);
select UPPER('alex') into @i;
SELECT @i;


# 在查询中使用
select f1(11,nid) ,name from tb2;

### 4. 条件语句

delimiter \\
CREATE PROCEDURE proc_if ()
BEGIN
    
    declare i int default 0;
    if i = 1 THEN
        SELECT 1;
    ELSEIF i = 2 THEN
        SELECT 2;
    ELSE
        SELECT 7;
    END IF;

END\\
delimiter ;

### 5. 循环语句

#### while循环

delimiter \\
CREATE PROCEDURE proc_while ()
BEGIN

    DECLARE num INT ;
    SET num = 0 ;
    WHILE num < 10 DO
        SELECT
            num ;
        SET num = num + 1 ;
    END WHILE ;

END\\
delimiter ;

#### repeat 循环

delimiter \\
CREATE PROCEDURE proc_repeat ()
BEGIN

    DECLARE i INT ;
    SET i = 0 ;
    repeat
        select i;
        set i = i + 1;
        until i >= 5
    end repeat;

END\\
delimiter ;

#### loop循环

BEGIN
    
    declare i int default 0;
    loop_label: loop
        
        set i=i+1;
        if i<8 then
            iterate loop_label;
        end if;
        if i>=10 then
            leave loop_label;
        end if;
        select i;
    end loop loop_label;

END

#### 动态执行SQL

delimiter \\
DROP PROCEDURE IF EXISTS proc_sql \\
CREATE PROCEDURE proc_sql ()
BEGIN
    declare p1 int;
    set p1 = 11;
    set @p1 = p1; 

    PREPARE prod FROM 'select * from tb2 where nid > ?';
    EXECUTE prod USING @p1;   -- 执行的参数规定必须是@开头的
    DEALLOCATE prepare prod; 

END\\
delimiter ;

prepare相当于python中的getattr。

可以在存储过程中，将sql语句传递给存储过程。

防止sql注入。

# 5. 事务

事务用于将某些操作的多个SQL作为原子性操作，一旦有某一个出现错误，即可回滚到原来的状态，从而保证数据库数据完整性。

innodb支持

#### 支持事务的存储过程

delimiter \\
create PROCEDURE p1(
    OUT p_return_code tinyint
)
BEGIN 
  DECLARE exit handler for sqlexception 
  BEGIN 
    -- ERROR 
    set p_return_code = 1; 
    rollback; 
  END; 
 
  DECLARE exit handler for sqlwarning 
  BEGIN 
    -- WARNING 
    set p_return_code = 2; 
    rollback; 
  END; 
 
  START TRANSACTION;   # 开始一个事务
    DELETE from tb1;
    insert into tb2(name)values('seven');
  COMMIT; 
 
  -- SUCCESS 
  set p_return_code = 0; 
 
  END\\
delimiter ;

set @i =0;
call p1(@i);
select @i;

---

# 6. 索引

索引，是数据库中专门用于帮助用户快速查询数据的一种数据结构。

类似于字典中的目录，查找字典内容时可以根据目录查找到数据的存放位置，然后直接获取即可。

索引是表的目录，在查找内容之前可以先在目录中查找索引位置，以此快速定位查询数据。对于索引，会保存在额外的文件中。

MySQL中常见索引有：

- 普通索引：仅加速查询
- 唯一索引：加速查询 + 列值唯一（可以有null）
- 主键索引：加速查询 + 列值唯一 +　表中只有一个（不可以有null）
- 组合索引：多列可以组成一个索引，
    - 专门用于组合搜索，其效率大于索引合并
- 全文索引：对文本的内容进行分词，进行搜索 
fulltext ---- 全文索引,是对于大表的文本域：char，varchar，text列才能创建全文索引，主要用于查找文本中的关键字，并不是直接与索引中的值进行比较。fulltext更像是一个搜索引擎，配合match against操作使用，而不是一般的where语句加like。

　　注:全文索引目前只有MyISAM存储引擎支持全文索引，InnoDB引擎5.6以下版本还不支持全文索引


索引合并，使用多个单列索引组合搜索
覆盖索引，select的数据列只用从索引中就能够取得，不必读取数据行，换句话说查询列要被所建的索引覆盖

　　所有存储引擎对每个表至少支持16个索引，总索引长度至少为256字节，索引有两种存储类型，包括B型树索引和哈希索引。

　　索引可以提高查询的速度，但是创建和维护索引需要耗费时间，同时也会影响插入的速度，如果需要插入大量的数据时，最好是先删除索引，插入数据后再建立索引

索引的功能：
- 约束
    - 主键
    - 外键
    - 唯一
    - 普通
    - 组合
- 加速查找

为什么索引可以这么快？
    
比如要对name列建立索引，就会创建一个文件，name列所有数据拿出来
    name='eric' > 6 # 4
    name='tony' > 66 # 3
    1024

**B-tree**：
        name索引示例说明

                           30
 
                10                        40
         
           5         15            35             66 （真是表中我当前行的数据在硬盘上的位置）
         
        1    6     11    19      21      39     55     100
                 
     ...

In [3]:
pow(2,10) # 如果B-tree的层数为10层，可以存储1024个数据

pow(2,100)  # 如果B-tree的层数为100层，可以存储的数据极大。

1267650600228229401496703205376

In [6]:
ord('a')
chr(65)

'A'

1、创建表
        nid name pwd email
        
        数据文件：硬盘，。。。。。。。
        
2、创建索引
        nid主键索引：
             
        name列创建索引
            - 数据name列数据全部拿到
            - name每一个转化成一个数字,算法B-Tree
            - 
        
                               30
     
                    10                        40
             
               5         15            35             66（位置,位置,位置） （数据表中我当前行的数据在硬盘上的位置）
             
            1    6     11    19      21      39     55     100
            
            - 索引文件： 硬盘
            
            
        pwd列创建索引
            - 数据pwd列数据全部拿到
            - pwd每一个转化成一个数字
            - 
        
                               30
     
                    10                        40
             
               5         15            35             66 （数据表中我当前行的数据在硬盘上的位置）
             
            1    6     11    19      21      39     55     100
            
            - 索引文件： 硬盘

搜索：
        
        select * from tb1 where name='alex'
        name列有索引，所以去name索引中，将'alex'转换成数字，在索引的B-Tree中找到对应的数据位置。
    
        select * from tb1 where email='alex'
        email列没有索引，所以去扫描数据表tb1。

### 1、普通索引

普通索引仅有一个功能：加速查询

#### 创建表 + 索引

create table in1(
    nid int not null auto_increment primary key,
    name varchar(32) not null,
    email varchar(64) not null,
    extra text,
    index ix_name (name)
)

#### 单独在表的基础上创建索引

create index index_name on table_name(column_name)

#### 删除索引

drop index_name on table_name;

#### 查看索引

show index from table_name;

注意：对于创建索引时如果是BLOB 和 TEXT 类型，必须指定length。

create index ix_extra on in1(extra(32));

### 2、唯一索引

唯一索引有两个功能：加速查询 和 唯一约束（可含null）

#### 创建表 + 唯一索引

create table in1(
    nid int not null auto_increment primary key,
    name varchar(32) not null,
    email varchar(64) not null,
    extra text,
    unique ix_name (name)
);

#### 创建唯一索引

create unique index 索引名 on 表名(列名)

#### 删除唯一索引

drop unique index 索引名 on 表名

### 3. 主键索引

主键有两个功能：加速查询 和 唯一约束（不可含null）

#### 创建表 + 创建主键

create table in1(
    nid int not null auto_increment primary key,
    name varchar(32) not null,
    email varchar(64) not null,
    extra text,
    index ix_name (name)
)

OR

create table in1(
    nid int not null auto_increment,
    name varchar(32) not null,
    email varchar(64) not null,
    extra text,
    primary key(nid),
    index ix_name (name)
)

#### 创建主键

alter table 表名 add primary key(列名);

#### 删除主键

alter table 表名 drop primary key;
alter table 表名  modify  列名 int, drop primary key;

### 4、组合索引
组合索引是将n个列组合成一个索引。

其应用场景为：频繁的同时使用n列来进行查询，如：where n1='alex' and n2=666

name,pwd
- 普通组合索引：
                无约束
                name,pwd
- 联合唯一索引：
                有约束，两列数据同时不相同，才能插入，不然报错
                name,pwd
                
                
查找：最左匹配
> select \* from tb1 where name = 'alex'   
> select \* from tb1 where name = 'alex' and pwd='123'  
> select \* from tb1 where pwd='123'  # 不会走索引   
        
查找：最左匹配 name,pwd,email   
> select \* xx where name ='alex'    
> select \* xx where pwd ='alex'    # 不会走索引   
> select \* xx where email ='alex'    # 不会走索引   
> select \* xx where name='alex' and pwd='xx'

#### 创建表

create table in3(
    nid int not null auto_increment primary key,
    name varchar(32) not null,
    email varchar(64) not null,
    extra text
)

#### 创建组合索引

create index ix_name_email on in3(name,email);

【最左匹配】如上创建组合索引之后，查询：
- name and email  -- 使用索引
- name                 -- 使用索引
- email                 -- 不使用索引

注意：对于同时搜索n个条件时，组合索引的性能好于多个单一索引合并。

---

# 7. 索引扩展：覆盖索引，合并索引

### 1、覆盖索引

覆盖索引：不是真实存在的索引，而是使用索引过程中的一种模式。

覆盖索引：【select的数据列只用从索引中就能够取得，不必读取数据行】，换句话说查询列要被所建的索引覆盖


        
- select * from tb where nid=1
    - 先去索引中找，再去数据表找
        
- select nid from tb where nid < 10 
    - 先去索引中找
    - 索引中已经找到了所有的数据，不需要再去数据表中查找
    - 这种就是【覆盖索引】

### 2. 合并索引

索引合并，使用多个单列索引组合搜索

假设一张表的情况为：
    nid   name(单独索引)    email（单独索引）    pwd
        
执行select语句：
        select * from tb where name='alex'  # 直接使用name索引
        select * from tb where email='alex3714@163.com' # 直接使用email索引
        
        select * from tb where name='alex' or email='alex3714@163.com'  
        # 这种情况下，称为【合并索引】
        
        
假设一张表的情况为：
    nid   name(组合索引)    email（组合索引）    pwd
    
# 最左前缀 OR 最左匹配

执行select语句：
        select * from tb where name='alex'  # 可以命中索引
        select * from tb where email='alex3714@163.com' ########无法满足########
        
        select * from tb where name='alex' or email='alex3714@163.com'
        # 通过【组合索引】进行搜索

用户表：
    nid   username（组合索引）    password（组合索引）
             1     alex         123
             2     shaogbing    123
             
执行select语句：            
            select * from tb where username='xx' and password='xx'
            select * from tb where username='xx'
            # select * from tb where password='xx'

### 组合和合并索引取舍？
业务需求来决定

组合索引比合并索引效率高。

在2个列上单独创建索引，如果查询语句使用到，叫合并索引；  
如果是在2个列上创建组合索引，就叫组合索引。  


下面通过原理来解释一下合并索引和组合索引的区别，也讲解一下为什么组合索引会比合并索引要快许多。

【合并索引】
- 单独的2个索引进行查找——索引合并，需要反复在2个索引表间进行跳转，这是造成速度慢的第一个影响。
- 第2个影响是，假设满足COL1=’ABC’的数据有5行，满足COL2=123的数据有1000行。最坏的情况下（那5行在COL2的1000行最后面）需要扫描完COL2的1000行才能找到需要的数据，并不能达到快速查找的目的。

【组合索引】
- 由于组合索引综合保存了COL1和COL2的数据，它不需要在2个索引表之间跳转，所以速度会更快。
- 组合索引不需要像索引合并那样对索引的ROWID进行比较合并。

以上就是对索引合并于组合索引区别的说明，另外补充一点，【在什么情况下使用组合索引比较好】——在查询条件中对索引列使用了【等值比较】时，组合索引才能发挥最大的效能。

-----

# 8. MySQL执行计划

## 执行计划：
相对比较准确地表达出当前SQL运行状况。

## 语法：
explain + 查询SQL - 用于显示SQL执行信息参数，根据参考信息可以进行SQL优化

### 示例：

mysql> explain select * from tb2;
+----+-------------+-------+------+---------------+------+---------+------+------+-------+
| id | select_type | table | type | possible_keys | key  | key_len | ref  | rows | Extra |
+----+-------------+-------+------+---------------+------+---------+------+------+-------+
|  1 | SIMPLE      | tb2   | ALL  | NULL          | NULL | NULL    | NULL |    2 | NULL  |
+----+-------------+-------+------+---------------+------+---------+------+------+-------+
1 row in set (0.00 sec)

## explain参数值：

- id 查询顺序标识
- select_type 查询类型
- table 正在访问的表名
- type  查询时的访问方式
    - 性能：all < index < range < index_merge < ref_or_null < ref < eq_ref < system < const
- possible_keys 可能使用的索引
- key 真实使用的
- key_len MySQL中使用索引字节长度
- ref
- rows  预估值，估计为了找到所需的行而要读取的行数
- Extra  包含MySQL解决查询的详细信息

### 【id】【查询顺序标识】

如：mysql> explain select * from (select nid,name from tb1 where nid < 10) as B;
            +----+-------------+------------+-------+---------------+---------+---------+------+------+-------------+
            | id | select_type | table      | type  | possible_keys | key     | key_len | ref  | rows | Extra       |
            +----+-------------+------------+-------+---------------+---------+---------+------+------+-------------+
            |  1 | PRIMARY     | <derived2> | ALL   | NULL          | NULL    | NULL    | NULL |    9 | NULL        |
            |  2 | DERIVED     | tb1        | range | PRIMARY       | PRIMARY | 8       | NULL |    9 | Using where |
            +----+-------------+------------+-------+---------------+---------+---------+------+------+-------------+
特别的：如果使用union连接气值可能为null

### 【select_type】查询类型

- SIMPLE          简单查询
- PRIMARY         最外层查询
- SUBQUERY        映射为子查询
- DERIVED         子查询
- UNION           联合
- UNION RESULT    使用联合的结果

### 【type】查询时的访问方式
- all 全数据表扫描，效率最低，
    - 全表扫描，对于数据表从头到尾找一遍
    - select * from tb1;
    - 特别的：如果有limit限制，则找到之后就不在继续向下扫描
        - select * from tb1 where email = 'seven@live.com'
        - select * from tb1 where email = 'seven@live.com' limit 1;
        - 虽然上述两个语句都会进行全表扫描，第二句使用了limit，则找到一个后就不再继续扫描。
- index 全索引表扫描，效率低
    - 全索引扫描，对索引从头到尾找一遍
    - select nid from tb1;
- range  对索引列进行范围查找
    - select *  from tb1 where name < 'alex';
    - between and， in
    - \>   \>=  <   <=  操作，注意：!= 和 > 符号（这时对索引列进行查找还是无法命中索引，会是全表扫描）
- index_merge 合并索引，使用多个单列索引搜索
    - select *  from tb1 where name = 'alex' or nid in (11,22,33);    
- ref_or_null 
- ref  
    - 根据索引查找一个或多个值
    - select *  from tb1 where name = 'seven';
- eq_ref 
    - 连接时使用primary key 或 unique类型
    - select tb2.nid,tb1.name from tb2 left join tb1 on tb2.nid = tb1.nid;

- const
    - 常量
    - 表最多有一个匹配行,因为仅有一行,在这行的列值可被优化器剩余部分认为是常数,const表很快,因为它们只读取一次。
    - select nid from tb1 where nid = 2 ;
- system
    - 系统
    - 表仅有一行(=系统表)。这是const联接类型的一个特例。
    - select * from (select nid from tb1 where nid = 1) as A;
    

性能：all < index < range < index_merge < ref_or_null < ref < eq_ref < system < const

#### ---------Type不同类型的补充说明-------

【是否走索引，不走索引】
        
explain SQL语句
1. explain SQL语句
    - type： ALL    - 全数据表扫描
    - type： index  - 全索引表扫描
            
2. limit 
    - select * from tb1 where email='123'
    - select * from tb1 where email='123' limit 1;
        - 加上limit 1 可能会提升效率，也可能不会提升效率，主要看数据的位置，第一个就找到，就极快地提升了效率。

-----SQL： ALL、Index，都是有优化的余地 -------

### 【extra】 包含MySQL解决查询的详细信息

-  “Using index”
            此值表示mysql将使用覆盖索引，以避免访问表。不要把覆盖索引和index访问类型弄混了。
- “Using where”
            这意味着mysql服务器将在存储引擎检索行后再进行过滤，许多where条件里涉及索引中的列，当（并且如果）它读取索引时，就能被存储引擎检验，因此不是所有带where子句的查询都会显示“Using where”。有时“Using where”的出现就是一个暗示：查询可受益于不同的索引。
- “Using temporary”
            这意味着mysql在对查询结果排序时会使用一个临时表。
- “Using filesort”
            这意味着mysql会对结果使用一个外部索引排序，而不是按索引次序从表里读取行。mysql有两种文件排序算法，这两种排序方式都可以在内存或者磁盘上完成，explain不会告诉你mysql将使用哪一种文件排序，也不会告诉你排序会在内存里还是磁盘上完成。
- “Range checked for each record(index map: N)”
            这个意味着没有好用的索引，新的索引将在联接的每一行上重新估算，N是显示在possible_keys列中索引的位图，并且是冗余的。

-----

# 9. 正确使用索引

由于索引是专门用于加速搜索而生，所以加上索引之后，查询效率会快到飞起来。

# 有索引
mysql> select * from tb1 where name = 'wupeiqi-888';
+-----+-------------+---------------------+----------------------------------+---------------------+
| nid | name        | email               | radom                            | ctime               |
+-----+-------------+---------------------+----------------------------------+---------------------+
| 889 | wupeiqi-888 | wupeiqi888@live.com | 5312269e76a16a90b8a8301d5314204b | 2016-08-03 09:33:35 |
+-----+-------------+---------------------+----------------------------------+---------------------+
1 row in set (0.00 sec)
 
# 无索引
mysql> select * from tb1 where email = 'wupeiqi888@live.com';
+-----+-------------+---------------------+----------------------------------+---------------------+
| nid | name        | email               | radom                            | ctime               |
+-----+-------------+---------------------+----------------------------------+---------------------+
| 889 | wupeiqi-888 | wupeiqi888@live.com | 5312269e76a16a90b8a8301d5314204b | 2016-08-03 09:33:35 |
+-----+-------------+---------------------+----------------------------------+---------------------+
1 row in set (1.23 sec)

数据库表中添加索引后确实会让查询速度起飞，但前提必须是正确的使用索引来查询，如果以【错误的方式】使用，则即使建立索引也会不奏效。

### 即使建立索引，索引也不会生效：

示例中nid是主键，name是普通索引，email不是索引。

- like '%xx'
    - select * from tb1 where name like '%cn';
        - 这种不会走索引
    - select * from tb1 where name like 'cn%'
        - 最左前缀，这种可以走索引。
- 使用函数
    - select * from tb1 where reverse(name) = 'wupeiqi';
    - select * from tb1 where substring(name,4,3)='zoe';
    - 查找出来的值进行函数处理后，函数处理过后的值作为新值，没有建立索引，所以不会走索引
    - 例子：时间格式转换，时间戳信息建立索引，与查询的时间格式不匹配，则转换时间格式，而不是要转换索引的列。
- or
    - select * from tb1 where nid = 1 or email = 'seven@live.com';
        - email不是索引列，所以不走索引
    - 特别的：当or条件中有未建立索引的列才失效，以下会走索引
        - select * from tb1 where nid = 1 or name = 'seven';
            - 合并索引，index_merge
        - select * from tb1 where nid = 1 or email = 'seven@live.com' and name = 'alex'
            - emial不是索引，所以不走索引
        
- 类型不一致
    - 如果列是字符串类型，传入条件是必须用引号引起来，不然...
        - select * from tb1 where name = 999;
         - 数据类型不匹配，就不会走索引。
         
#######------- 条件比较中，只有!=和>是不走索引的 ----#######
####### ------ 特别的是主键索引-------------------#######
- !=
    - select * from tb1 where name != 'alex'
    - 特别的：如果是主键，则还是会走索引
        - select * from tb1 where nid != 123
- \>
    - select * from tb1 where name > 'alex'
    - 特别的：如果是主键或索引是整数类型，则还是会走索引
        - select * from tb1 where nid > 123
        - select * from tb1 where num > 123
        
- order by
    - select email from tb1 order by name desc;
        - 当根据索引排序时候，选择的映射如果不是索引，则不走索引
    - 特别的：如果对主键排序，则还是走索引：
        - select * from tb1 order by nid desc;
 
- 组合索引最左前缀    
    - 如果组合索引为：(name,email)
        - name and email       -- 使用索引
        - name                 -- 使用索引
        - email                -- 不使用索引

### 其他注意事项
- 避免使用select *
- count(1)或count(列) 代替 count(*)
- 创建表时尽量时 char 代替 varchar
- 表的字段顺序固定长度的字段优先
- 组合索引代替多个单列索引（经常使用多个条件查询时）
- 尽量使用短索引
    - 指定列前几个字符创建索引
- 使用连接（JOIN）来代替子查询(Sub-Queries)
- 连表时注意条件类型需一致
- 索引散列值（重复少）不适合建索引，例：性别不适合

-----

# 10. limit分页

无论是否有索引，limit分页是一个值得关注的问题

### 语法： 
    limit x,m :  表x+m

### 问题：
    执行分页会扫表，会读取 x+m行 数据；
    表越大，分页越是后面的数据（即x越大），读取速度越慢。

### 解决方法：
想要分页，直接跳过特定值（比如：10000），继续往下扫分页的数据数
- 网上错误的解决方法：
    - 先在索引中找到指定的nid，再用select * from tb1 where nid in (select nid from tb1 where tb1>10000); 的方式查找数据
    - 杯水车薪，还是要扫描表读取数据，性能无法提升太多
- 【正确的解决方案】：
    - 通过获取【上一页】【下一页】的nid的值，直接跳过上一页的nid的值，再扫表
    - select * from tb1 where nid>@LAST_PAGE limit 10000,10

【where nid>10000 直接跳过 钱10000条数，继续往下扫】
  
注意，nid是自增列，所以nid每页10条的nid排列情况可能如下：

    每页：10条
        1     2    3     4  ...    18  19  20  21
        1     17   31   45
        16    29   42   90  
            
    -- nid排列可能中断的（原因，nid是自增列）
        
---------- 方式： 上一页，下一页 ----------
        
1、当用户查看页面时，第一页 limit 0,10： nid: 1 - 16（假设可能的前10条的nid的情况）
              
2、第二页 limit 10,10： nid: 17 - 36
    where nid>16 limit 10： nid: 17 - 36
3、第三页 limit 20,10： nid: 37 - 181
     where nid>36 limit 10： nid: 37 - 181

【上一页】【下一页】的值赋值给全局变量，通过全局变量控制 where nid> LAST_PAGE 的值。

倒序翻页：  

下一页：

select  *  from  tb1 
where 
        nid < 
            (select nid from 
                    (select nid from tb1 where nid < 当前页最小值 order by nid desc limit 每页数据 *【页码-当前页】)  A 
            order by A.nid asc limit 1)  
    order by 
        nid desc 
    limit 10;



select * from tb1 
where 
    nid <
        (select nid from 
             (select nid from tb1 where nid < 970  order by nid desc limit 40) A          order by A.nid asc limit 1)  
    order by 
        nid desc 
    limit 10;


上一页：

    select 
        * 
    from 
        tb1 
    where 
        nid < (select nid from (select nid from tb1 where nid > 当前页最大值 order by nid asc limit 每页数据 *【当前页-页码】) A order by A.nid asc limit 1)  
    order by 
        nid desc 
    limit 10;


    select 
        * 
    from 
        tb1 
    where 
        nid < (select nid from (select nid from tb1 where nid > 980 order by nid asc limit 20) A order by A.nid desc limit 1)  
    order by 
        nid desc 
    limit 10;

# 11. 慢日志查询

### a、配置MySQL自动记录慢日志

- 方式一：在内存中直接修改 mysqld
- 方式二：写一个配置文件my-default.ini
    - mysqld --default-files= path/defalt.ini 
        - 配置文件修改后如何生效：
            - 重启
            - 在内存中直接修改

slow_query_log = OFF                           是否开启慢日志记录ON，OFF
long_query_time = 2                              时间限制，超过此时间，则记录
slow_query_log_file = /usr/slow.log        日志文件
log_queries_not_using_indexes = OFF     为使用索引的搜索是否记录 ON，OFF

注：
- 查看当前配置信息：
　　     show variables like '%query%'
- 修改当前配置：
　　　　set global 变量名 = 值

### b、查看MySQL慢日志

mysqldumpslow -s at -a  /usr/local/var/mysql/MacBook-Pro-3-slow.log

"""
--verbose    版本
--debug      调试
--help       帮助
 
-v           版本
-d           调试模式
-s ORDER     排序方式
             what to sort by (al, at, ar, c, l, r, t), 'at' is default
              al: average lock time
              ar: average rows sent
              at: average query time
               c: count
               l: lock time
               r: rows sent
               t: query time
-r           反转顺序，默认文件倒序拍。reverse the sort order (largest last instead of first)
-t NUM       显示前N条just show the top n queries
-a           不要将SQL中数字转换成N，字符串转换成S。don't abstract all numbers to N and strings to 'S'
-n NUM       abstract numbers with at least n digits within names
-g PATTERN   正则匹配；grep: only consider stmts that include this string
-h HOSTNAME  mysql机器名或者IP；hostname of db server for *-slow.log filename (can be wildcard),
             default is '*', i.e. match all
-i NAME      name of server instance (if using mysql.server startup script)
-l           总时间中不减去锁定时间；don't subtract lock time from total time
"""